extends layout

block content

    header
      nav.purple.darken-3
        .nav-wrapper
            a.brand-logo.center(href='#') MI ESCUELA
    
      nav.deep-purple.lighten-1
        .nav-wrapper
            form
              .input-field
                input#search(type='search', required='')
                label(for='search')
                  i.material-icons search
                i.material-icons close

        .container
            a.button-collapse.top-nav.full.hide-on-large-only(href='#', data-activates='nav-mobile')
              i.material-icons menu
      ul#nav-mobile.side-nav.fixed(style='transform: translateX(0%);')
        //- li.logo
        //-   a#logo-container.brand-logo(href='http://materializecss.com/')
        //-     object#front-page-logo(type='image/svg+xml', data='res/materialize.svg') Your browser does not support SVG
        li
            .userView
              img.background(src='images/office.jpg')
              a(href='#!user')
                img.circle(src='images/yuna.jpg')
              a(href='#!name')
                span.white-text.name MI ESCUELA
              a(href='#!email')
                span.white-text.email jdandturk@gmail.com
        li
            a(href='#!')
              i.material-icons queue
              .school-title Escuela 1
              .direction Dirección
        //- li
        //-     a(href='#!') Second Link
        li
            .divider
        li
            a.subheader Subheader
        li
            a.waves-effect(href='#!') Third Link With Waves

        .card
          .card-content
            span.card-title JUAN DE LA BARRERA
            p
              | ARQUIMEDES 723
            br
            .school-rating
              span
                i.material-icons star
              span
                i.material-icons star
              span
                i.material-icons star
              span
                i.material-icons star
              span
                i.material-icons star
          .card-action
            a(href='#') Ver más
        

      //- nav
      //-     .nav-wrapper.purple.darken-2
      //-       .col-xs
      //-         .input-field.select-search
      //-           span Buscar por categorías 
      //-           //- Dropdown Trigger
      //-           a.dropdown-button.btn(data-activates='categories')
      //-             span.action-category-current Playing
      //-             i.material-icons.right(style='line-height: inherit;') expand_more
      //-           ul#categories.left.dropdown-content.action-categorytab-set.blue-grey.darken-3.white-text(data-select='#selectCategory', data-label='#categoriesButton')
      //-             li(data-category-id='all', data-label='Everything')
      //-               a.item.white-text(data-value='all', data-toast-message='All') Everything
      //-             li(data-category-id='2', data-label='Eating + Drinking')
      //-               a.item.white-text(data-value='2', data-toast-message='Eating + Drinking') Eating + Drinking
      //-             li(data-category-id='4', data-label='Playing')
      //-               a.item.white-text(data-value='4', data-toast-message='Playing') Playing
      //-             li(data-category-id='3', data-label='Shopping')
      //-               a.item.white-text(data-value='3', data-toast-message='Shopping') Shopping
      //-             li(data-category-id='1', data-label='Staying')
      //-               a.item.white-text(data-value='1', data-toast-message='Staying') Staying
      //-             li(data-category-id='18', data-label='Service')
      //-               a.item.white-text(data-value='18', data-toast-message='Service') Service


