doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Mi Escuela')
    title Mi Escuela
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='/resources/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  
  body
    
    block content

    include ./includes/footer

    block javascript
        script(src='resources/jquery/dist/jquery.min.js')
        script(src='resources/materialize/dist/js/materialize.min.js')

        //- Custom Theme JavaScript
        script(src='javascripts/main.js')